<template>
  <div><%= name %></div>
</template>

<script>
  export default {
  name: "<%= name %>",
  data () {
    return {}
  },
  watch:{},
  computed: {},
  created(){},
  mounted(){},
  methods: {},
  beforeDestroy(){},
}
</script>

<style lang="scss" scoped>
</style> 
